themeName = 'snow'
activeColor = var(--accent-9)
borderColor = var(--gray-a7)
inactiveColor = var(--gray-8)
textColor = var(--gray-12)

@import './quill.core'

.ql-snow
  a
    color: activeColor

.ql-container.ql-snow
  border: 1px solid borderColor

.ql-editor
  blockquote
    border-left: 4px solid #ccc
    margin-bottom: 5px
    margin-top: 5px
    padding-left: 16px
  code, .ql-code-block-container
    background-color: #f0f0f0
    border-radius: 3px
  .ql-code-block-container
    margin-bottom: 5px
    margin-top: 5px
    padding: 5px 10px
  code
    font-size: 85%
    padding: 2px 4px
  .ql-code-block-container
    background-color: #23241f
    color: #f8f8f2
    overflow: visible
  img
    max-width: 100%

/******************************************************************************
* Toolbar
******************************************************************************/

.ql-toolbar.ql-snow
  border: 1px solid borderColor

  .ql-picker-label
    border: 1px solid transparent
  .ql-picker-options
    border: 1px solid transparent
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px
  .ql-picker.ql-expanded
    .ql-picker-label
      border-color: borderColor
    .ql-picker-options
      border-color: borderColor
      background-color: var(--color-panel-solid)

  .ql-color-picker
    .ql-picker-item.ql-selected, .ql-picker-item:hover
      border-color: var(--gray-a7)

  .ql-picker
    color: inactiveColor

  .ql-picker-options
    background-color: backgroundColor

  button:hover, button:focus, button.ql-active,
  .ql-picker-label:hover, .ql-picker-label.ql-active,
  .ql-picker-item:hover, .ql-picker-item.ql-selected
    color: activeColor
    .ql-fill, .ql-stroke.ql-fill
      fill: activeColor
    .ql-stroke, .ql-stroke-miter
      stroke: activeColor

/******************************************************************************
* Tooltip
******************************************************************************/

tooltipMargin = 8px
.ql-snow
  .ql-tooltip
    background-color: var(--color-panel-solid)
    border: 1px solid borderColor
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2) 0 2px 8px
    color: textColor
    padding: 5px 12px
    white-space: nowrap
    &::before
      content: "Visit URL:"
      line-height: 26px
      margin-right: tooltipMargin
    input[type=text]
      display: none
      border: 1px solid borderColor
      font-size: 13px
      height: 26px
      margin: 0px
      padding: 3px 5px
      width: 170px
    a.ql-preview
      display: inline-block
      max-width: 200px
      overflow-x: hidden
      text-overflow: ellipsis
      vertical-align: top
    a.ql-action::after
      border-right: 1px solid borderColor
      content: 'Edit'
      margin-left: tooltipMargin*2
      padding-right: tooltipMargin
    a.ql-remove::before
      content: 'Remove'
      margin-left: tooltipMargin
    a
      line-height: 26px
  .ql-tooltip.ql-editing
    a.ql-preview, a.ql-remove
      display: none
    input[type=text]
      display: inline-block
    a.ql-action::after
      border-right: 0px
      content: 'Save'
      padding-right: 0px
  .ql-tooltip[data-mode=link]::before
    content: "Enter link:"
  .ql-tooltip[data-mode=formula]::before
    content: "Enter formula:"
  .ql-tooltip[data-mode=video]::before
    content: "Enter video:"

/******************************************************************************
* SVG icons
******************************************************************************/

.ql-stroke
  fill: none
  stroke: inactiveColor
  stroke-linecap: round
  stroke-linejoin: round
  stroke-width: 2

.ql-stroke-miter
  fill: none
  stroke: inactiveColor
  stroke-miterlimit: 10
  stroke-width: 2

.ql-fill, .ql-stroke.ql-fill
  fill: inactiveColor

// Fix for iOS not losing hover on touch
@media (pointer: coarse)
  .ql-{themeName}.ql-toolbar, .ql-{themeName} .ql-toolbar
    button:hover:not(.ql-active)
      color: inactiveColor
      .ql-fill, .ql-stroke.ql-fill
        fill: inactiveColor
      .ql-stroke, .ql-stroke-miter
        stroke: inactiveColor