// Styles necessary for Quill

LIST_STYLE = decimal lower-alpha lower-roman
LIST_STYLE_WIDTH = 1.2em
LIST_STYLE_MARGIN = 0.3em
LIST_STYLE_OUTER_WIDTH = LIST_STYLE_MARGIN + LIST_STYLE_WIDTH
MAX_INDENT = 9
CONTROL_HEIGHT = 24px
INPUT_PADDING_WIDTH = 4px
INPUT_PADDING_HEIGHT = 2px
COLOR_ITEM_MARGIN = 2px
COLOR_ITEM_SIZE = 16px
COLOR_ITEMS_PER_ROW = 7

/******************************************************************************
* Content
******************************************************************************/

resets(arr)
  unquote('list-' + join(' list-', arr))

.ql-container
  box-sizing: border-box
  font-family: var(--default-font-family)
  font-size: var(--default-font-size)
  height: 100%
  margin: 0px
  position: relative
  border-top: 0px;

  *
    box-sizing: border-box

.ql-container.ql-disabled
  .ql-tooltip
    visibility: hidden

.ql-container:not(.ql-disabled)
  li[data-list=checked],
  li[data-list=unchecked]
    > .ql-ui
      cursor: pointer

.ql-clipboard
  left: -100000px
  height: 1px
  overflow-y: hidden
  position: absolute
  top: 50%
  p
    margin: 0
    padding: 0

.ql-editor
  box-sizing: border-box
  counter-reset: resets(0..MAX_INDENT)
  line-height: var(--default-line-height)
  height: 100%
  outline: none
  overflow-y: auto
  padding: var(--space-4) var(--space-4)
  tab-size: 4
  -moz-tab-size: 4
  text-align: left
  white-space: pre-wrap
  word-wrap: break-word
  > *
    cursor: text

  h1
    font-size: var(--font-size-6)
  h2
    font-size: var(--font-size-5)
  h3
    font-size: var(--font-size-4)
  h4
    font-size: var(--font-size-3)
  h5
    font-size: var(--font-size-2)
  h6
    font-size: var(--font-size-1)
  a
    text-decoration: underline

  p, ol, pre, blockquote, h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0
  p, h1, h2, h3, h4, h5, h6
    @supports (counter-set: none)
      counter-set: resets(0..MAX_INDENT)
    @supports not (counter-set: none)
      counter-reset: resets(0..MAX_INDENT)
  table
    border-collapse: collapse
  td
    border: 1px solid var(--accent-a3)
    padding: var(--space-1) var(--space-2)
  ol
    padding-left: 1.5em
  li
    list-style-type: none
    padding-left: LIST_STYLE_OUTER_WIDTH
    position: relative

    > .ql-ui:before
      display: inline-block
      margin-left: -1*LIST_STYLE_OUTER_WIDTH
      margin-right: LIST_STYLE_MARGIN
      text-align: right
      white-space: nowrap
      width: LIST_STYLE_WIDTH

  li[data-list=checked],
  li[data-list=unchecked]
    > .ql-ui
      color: var(--gray-8)

  li[data-list=bullet] > .ql-ui:before
    content: '\2022'
  li[data-list=checked] > .ql-ui:before
    content: '\2611'
  li[data-list=unchecked] > .ql-ui:before
    content: '\2610'

  li[data-list]
    @supports (counter-set: none)
      counter-set: resets(1..MAX_INDENT)
    @supports not (counter-set: none)
      counter-reset: resets(1..MAX_INDENT)

  li[data-list=ordered]
    counter-increment: list-0
    > .ql-ui:before
      content: unquote('counter(list-0, ' + LIST_STYLE[0] + ')') '. '
  for num in (1..MAX_INDENT)
    li[data-list=ordered].ql-indent-{num}
      counter-increment: unquote('list-' + num)
      > .ql-ui:before
        content: unquote('counter(list-' + num + ', ' + LIST_STYLE[num%3] + ')') '. '
    if (num < MAX_INDENT)
      li[data-list].ql-indent-{num}
        @supports (counter-set: none)
          counter-set: resets((num+1)..MAX_INDENT)
        @supports not (counter-set: none)
          counter-reset: resets((num+1)..MAX_INDENT)

  for num in (1..MAX_INDENT)
    .ql-indent-{num}:not(.ql-direction-rtl)
      padding-left: (3*num)em
    li.ql-indent-{num}:not(.ql-direction-rtl)
      padding-left: (3*num + LIST_STYLE_OUTER_WIDTH)em
    .ql-indent-{num}.ql-direction-rtl.ql-align-right
      padding-right: (3*num)em
    li.ql-indent-{num}.ql-direction-rtl.ql-align-right
      padding-right: (3*num + LIST_STYLE_OUTER_WIDTH)em

  li.ql-direction-rtl
    padding-right: LIST_STYLE_OUTER_WIDTH
    > .ql-ui:before
      margin-left: LIST_STYLE_MARGIN
      margin-right: -1*LIST_STYLE_OUTER_WIDTH
      text-align: left

  table
    table-layout: fixed
    width: 100%
    td
      outline: none

  .ql-code-block-container
    font-family: monospace

  .ql-video
    display: block
    max-width: 100%
  .ql-video.ql-align-center
    margin: 0 auto
  .ql-video.ql-align-right
    margin: 0 0 0 auto

  .ql-bg-black
    background-color: rgb(0,0,0)
  .ql-bg-red
    background-color: rgb(230,0,0)
  .ql-bg-orange
    background-color: rgb(255,153,0)
  .ql-bg-yellow
    background-color: rgb(255,255,0)
  .ql-bg-green
    background-color: rgb(0,138,0)
  .ql-bg-blue
    background-color: rgb(0,102,204)
  .ql-bg-purple
    background-color: rgb(153,51,255)

  .ql-color-white
    color: rgb(255,255,255)
  .ql-color-red
    color: rgb(230,0,0)
  .ql-color-orange
    color: rgb(255,153,0)
  .ql-color-yellow
    color: rgb(255,255,0)
  .ql-color-green
    color: rgb(0,138,0)
  .ql-color-blue
    color: rgb(0,102,204)
  .ql-color-purple
    color: rgb(153,51,255)

  .ql-font-serif
    font-family: Georgia, Times New Roman, serif
  .ql-font-monospace
    font-family: Monaco, Courier New, monospace

  .ql-size-small
    font-size: var(--font-size-2)
  .ql-size-large
    font-size: var(--font-size-5)
  .ql-size-huge
    font-size: var(--font-size-6)

  .ql-direction-rtl
    direction: rtl
    text-align: inherit

  .ql-align-center
    text-align: center
  .ql-align-justify
    text-align: justify
  .ql-align-right
    text-align: right

  .ql-ui
    position: absolute

.ql-editor.ql-blank::before
  color: rgba(0,0,0,0.6)
  content: attr(data-placeholder)
  font-style: italic
  left: 15px
  pointer-events: none
  position: absolute
  right: 15px

/******************************************************************************
* Toolbar
******************************************************************************/

.ql-toolbar
  box-sizing: border-box
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: start
  align-items: center
  gap: var(--space-1)
  padding: var(--space-2)
  border-top: 0px;

  *
    box-sizing: border-box

  &:after
    clear: both
    content: ''
    display: table

  .ql-formats
    width: fit-content
    height: fit-content
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: start
    align-items: center
    gap: var(--space-1)

    &:after
      clear: both
      content: ''
      display: table

  button
    background: none
    border: none
    cursor: pointer
    display: inline-block
    float: left
    height: var(--space-4)
    width: var(--space-4)

    svg
      float: left
      height: 100%

    &:active:hover
      outline: none

  input.ql-image[type=file]
    display: none

.ql-hidden
  display: none

.ql-out-bottom, .ql-out-top
  visibility: hidden

.ql-empty
  fill: none

.ql-even
  fill-rule: evenodd

.ql-thin, .ql-stroke.ql-thin
  stroke-width: 1

.ql-transparent
  opacity: 0.4

.ql-direction
  svg:last-child
    display: none
.ql-direction.ql-active
  svg:last-child
    display: inline
  svg:first-child
    display: none

.ql-picker
  display: inline-block
  float: left
  font-size: var(--font-size-1)
  font-weight: var(--font-weight-medium)
  height: CONTROL_HEIGHT
  position: relative
  vertical-align: middle

  .ql-picker-label
    cursor: pointer
    display: inline-block
    height: 100%
    padding-left: var(--space-3)
    padding-right: var(--space-1)
    position: relative
    width: 100%
    
    &::before
      display: inline-block
      line-height: var(--line-height-2)

  .ql-picker-options
    display: none
    min-width: 100%
    padding: var(--space-1) var(--space-2)
    position: absolute
    white-space: nowrap

    .ql-picker-item
      cursor: pointer
      display: block
      padding-bottom: var(--space-2)
      padding-top: var(--space-2)

.ql-picker.ql-expanded

  .ql-picker-label
    color: borderColor
    z-index: 2

    .ql-fill
      fill: borderColor

    .ql-stroke
      stroke: borderColor

  .ql-picker-options
    display: block
    margin-top: -1px
    top: 100%
    z-index: 1

.ql-color-picker, .ql-icon-picker
  width: CONTROL_HEIGHT + 4
  .ql-picker-label
    padding: 2px var(--space-2)
    svg
      right: 4px

.ql-icon-picker

  .ql-picker-options
    padding: var(--space-2) 0px

  .ql-picker-item
    height: CONTROL_HEIGHT
    width: CONTROL_HEIGHT
    padding: 2px var(--space-2)

.ql-color-picker

  .ql-picker-options
    padding: INPUT_PADDING_HEIGHT INPUT_PADDING_WIDTH
    width: (COLOR_ITEM_SIZE + 2 * COLOR_ITEM_MARGIN) * COLOR_ITEMS_PER_ROW + 2 * INPUT_PADDING_WIDTH + 2  // +2 for the border

  .ql-picker-item
    border: 1px solid transparent
    float: left
    height: COLOR_ITEM_SIZE
    margin: COLOR_ITEM_MARGIN
    padding: 0px
    width: COLOR_ITEM_SIZE

.ql-picker:not(.ql-color-picker):not(.ql-icon-picker)
  
  svg
    position: absolute
    margin-top: calc(-0.5 * var(--space-4))
    right: 0
    top: 50%
    width: var(--space-4)

.ql-picker.ql-header, .ql-picker.ql-font, .ql-picker.ql-size
  .ql-picker-label[data-label]:not([data-label='']),
  .ql-picker-item[data-label]:not([data-label=''])
    &::before
      content: attr(data-label)

.ql-picker.ql-header
  width: 98px

  .ql-picker-label::before,
  .ql-picker-item::before
    content: 'Normal'
  
  for num in (1..6)
    .ql-picker-label[data-value=\"{num}\"]::before,
    .ql-picker-item[data-value=\"{num}\"]::before
      content: 'Heading ' + num
  
  .ql-picker-item[data-value="1"]::before
    font-size: var(--font-size-6)
  
  .ql-picker-item[data-value="2"]::before
    font-size: var(--font-size-5)
  
  .ql-picker-item[data-value="3"]::before
    font-size: var(--font-size-4)
  
  .ql-picker-item[data-value="4"]::before
    font-size: var(--font-size-3)
  
  .ql-picker-item[data-value="5"]::before
    font-size: var(--font-size-2)
  
  .ql-picker-item[data-value="6"]::before
    font-size: var(--font-size-1)

.ql-picker.ql-font
  width: 108px

  .ql-picker-label::before,
  .ql-picker-item::before
    content: 'Sans Serif'

  .ql-picker-label[data-value=serif]::before,
  .ql-picker-item[data-value=serif]::before
    content: 'Serif'

  .ql-picker-label[data-value=monospace]::before,
  .ql-picker-item[data-value=monospace]::before
    content: 'Monospace'

  .ql-picker-item[data-value=serif]::before
    font-family: Georgia, Times New Roman, serif

  .ql-picker-item[data-value=monospace]::before
    font-family: Monaco, Courier New, monospace

.ql-picker.ql-size
  width: 98px

  .ql-picker-label::before,
  .ql-picker-item::before
    content: 'Normal'

  .ql-picker-label[data-value=small]::before,
  .ql-picker-item[data-value=small]::before
    content: 'Small'

  .ql-picker-label[data-value=large]::before,
  .ql-picker-item[data-value=large]::before
    content: 'Large'

  .ql-picker-label[data-value=huge]::before,
  .ql-picker-item[data-value=huge]::before
    content: 'Huge'

  .ql-picker-item[data-value=small]::before
    font-size: var(--font-size-1)

  .ql-picker-item[data-value=large]::before
    font-size: var(--font-size-3)

  .ql-picker-item[data-value=huge]::before
    font-size: var(--font-size-6)

.ql-color-picker.ql-background
  .ql-picker-item
    background-color: #fff

.ql-color-picker.ql-color
  .ql-picker-item
    background-color: #000

.ql-code-block-container
  position: relative
  
  .ql-ui
    right: var(--space-1)
    top: var(--space-1)

.ql-tooltip
  position: absolute
  transform: translateY(10px)

  a
    cursor: pointer
    text-decoration: none

.ql-tooltip.ql-flip
  transform: translateY(-10px)