.container {
  box-sizing: border-box;
  height: fit-content;
  width: var(--row-sm);
  padding: 0.25rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap-sm);
}

.button {
  box-sizing: border-box;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--primary-10);
  color: var(--text-color);
}

.button:hover {
  outline: 1px solid var(--text-color);
}

.button:active {
  outline: 1px solid var(--primary-70);
}

.display-menu-on-hover {
  transition: height 0.75s;
}

.display-menu-on-hover:hover {
  height: calc(calc(4 * 3rem) + calc(3 * var(--gap-sm)));
}

.save {
  background-color: var(--primary-70);
  color: var(--gray-900);
}