.container {
  box-sizing: border-box;
  height: var(--row-sm);
  max-height: var(--row-sm);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: var(--gap-sm);
  transition: height 0.75s, max-height 0.75s;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  height: var(--row-sm);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--frame-background);
  border: none;
  resize: none;
  transition: height 0.75s;

  padding: calc(var(--gap-sm) / 2) var(--gap-sm);
  border-radius: var(--border-radius);
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}

.container:hover,
.container:focus-within {
  height: var(--frame-sm);
  max-height: var(--frame-sm);
}

.textarea:hover,
.textarea:focus {
  height: var(--frame-sm);
  outline: 1px solid var(--primary-70);
  box-shadow: 0px 0px 2px 1px var(--gray-400);
}