.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  user-select: none;
  -webkit-user-drag: none;
  background-color: var(--primary-5);
  padding: 0px var(--gap-md);
}

.message {
  color: var(--primary-70);
}

.icon {
  
}