.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-md);
  user-select: none;
  -webkit-user-drag: none;
}

.content {
  height: fit-content;
  width: fit-content;
}

.options {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xs);
  align-items: center;
  justify-content: end;
}