.container {
  width: fit-content;
  height: fit-content;
}

.content {
  display: none;
  position: absolute;
  right: calc(calc(0.25 * var(--frame-xsm)) - var(--gap-sm));
  transform: translate(-90%, -5%);
  box-sizing: border-box;
  min-height: var(--row-sm);
  min-width: calc(0.5 * var(--frame-xsm));
  background-color: var(--gray-900);
  border: 1px solid var(--gray-700);
  user-select: none;
  -webkit-user-drag: none;
  float: right;
  z-index: 1;
  flex-direction: column;
  gap: var(--gap-xs);
}

.container:hover .content {
  display: flex;
}

.option {
  display: flex;
  flex-direction: row;
  gap: var(--gap-xs);
  padding: var(--gap-xs) var(--gap-sm);
  background-color: transparent;
  color: var(--gray-400);
  border: none;
  outline: none;
  cursor: pointer;
}

.option:hover {
  outline: 1px solid var(--gray-400);
}

.option:active {
  outline: 1px solid var(--gray-400);
  background-color: var(--gray-400);
  color: var(--gray-900);
}

.option:active .option-label {
  color: var(--gray-900);
}

.option-icon {
  display: block;
  min-width: 1.0rem;
  box-sizing: border-box;
  margin: none;
  padding: none;
}

.option-icon svg {
  width: 1.0rem;
}

.option-label {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: row;
}