@import url('https://fonts.googleapis.com/css?family=Work+Sans|Roboto|Glegoo&display=swap');

:root {
  --black: #000000;
  --white: #FFFFFF;
  --background: #0F0B00;

  --gray: #9E9E9E;
  --gray-contrast: var(--white);
  --gray-50: #FAFAFA;
  --gray-100: #F5F5F5;
  --gray-200: #EEEEEE;
  --gray-300: #E0E0E0;
  --gray-400: #BDBDBD;
  --gray-500: #9E9E9E;
  --gray-600: #757575;
  --gray-700: #616161;
  --gray-800: #424242;
  --gray-900: #212121;

  --primary: #FBB800;
  --primary-5: rgba(251, 184, 0, 0.05);
  --primary-10: rgba(251, 184, 0, 0.1);
  --primary-70: rgba(251, 184, 0, 0.70);
  --primary-contrast: var(--white);

  --frame-background: var(--primary-10);
  --text-color: var(--gray-400);

  font-size: 14px;
  --row-sm: 2.5rem;    /* ~32px */
  --row-md: 5.5rem;    /* ~80px */
  --row-lg: 8rem;    /* ~128px */
  --row-xl: 12rem;   /* ~192px */
  --row-xxl: 16rem;  /* ~256px */
  --frame-xs: 12.0rem; /* ~192px */
  --frame-sm: 16.0rem;  /* ~256px */
  --frame-md: 24.0rem;  /* ~384px */
  --frame-lg: 36.0rem;  /* ~576px */
  --frame-xl: 45.0rem;  /* ~720px */
  --gap-xs: 0.5rem;
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 4rem;
  --gap-xl: 8rem;
  --gap-xxl: 16rem;
  
  --border-radius: 0.5rem;
  --header-height: 5rem;
  --footer-height: 0rem;
  --content-container-padding: var(--gap-md);
  --content-container-min-height: calc(100vh - var(--header-height) - var(--footer-height));
  --content-height: calc(var(--content-container-min-height) - calc(2 * var(--content-container-padding)));

  --primary-font: 'Work Sans', sans-serif;
  --secondary-font: 'Roboto', serif;
  --tertiary-font: 'Glegoo', monospace;
}

body, h1, h2, h3, h4, h5, p, small {
  margin: 0px;
}

h1, h2, h3, h4, h5, p, small {
  color: var(--text-color);
}

body, html {
  min-height: -webkit-fill-available;
}

.primary-h1 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.75rem;
  color: green;
}

.primary-h2 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

.primary-h3 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.primary-h4 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

.primary-h5 {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

.primary-p {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

.primary-small {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

.secondary-h1 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

.secondary-h2 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

.secondary-h3 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.secondary-h4 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

.secondary-h5 {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

.secondary-p {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

.secondary-small {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

.tertiary-h1 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
}

.tertiary-h2 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 2.0rem;
}

.tertiary-h3 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.tertiary-h4 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.0rem;
}

.tertiary-h5 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
}

.tertiary-p {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 1.0rem;
}

.tertiary-small {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
}

/*****************************************************************************/
:root {
  background-color: var(--background);
}

html, body, #root {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: var(--gap-sm);
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-10);
  border-radius: 0.35rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--gray-400);
}