.container {
  box-sizing: border-box;
  width: 100%;
  height: 1.75rem;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: var(--gap-sm);
  user-select: none;
  -webkit-user-drag: none;
}

.container:hover {
  background-color: var(--primary-20);
}

.vertical-line {
  margin-left: calc(var(--gap-sm) + var(--gap-xs));
  height: 100%;
  border-left: var(--line-decorations-thickness) solid var(--frame-border);
  max-height: 100%;
}

.container:hover .vertical-line {
  border-left: var(--line-decorations-thickness) solid var(--primary-70)
}

.label {
  flex: 1 1 auto;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
}

.options-button {
  display: block;
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: var(--gap-sm);
  cursor: pointer;
  opacity: 0.0;
}

.container:hover .options-button {
  opacity: 1.0;
}

.container__selected {
  background-color: var(--primary-70);
}

.container__selected .vertical-line {
  opacity: 1.0;
  border-left: var(--line-decorations-thickness) solid var(--primary-70);
}

.container__selected .label {
  color: var(--gray-50);
}

.container__selected .options-button {
  color: var(--gray-50);
}