.container {
  padding: var(--gap-sm);
  height: var(--row-md);
  background-color: var(--background);

  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  gap: var(--gap-xs);

  -webkit-user-drag: none;
  user-select: none;
  overflow-y: hidden;
  overflow-x: hidden;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.40);
}

.notepad {
  color: var(--gray-400);
  text-align: end;
}

.page {
  color: var(--gray-200);
  text-align: end;
}