.container {
  box-sizing: border-box;
  background-color: var(--primary-10);
  border: 1px solid var(--gray-600);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--gap-xs);
  -webkit-user-drag: none;
}

.content {
  height: 100%;
  width: 100%;
  padding: var(--gap-sm);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.options {
  height: 100%;
  width: min-content;
  padding: var(--gap-sm) var(--gap-xs);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  color: var(--text-color);
  background-color: transparent;
  resize: none;
  overflow: hidden;
  border: none;
}

.icon {
  color: var(--text-color);
  cursor: pointer;
}

.options-button {
  height: 1.2rem;
  width: 1.2rem;
}