.vertical-line {
  border-left: 6px solid transparent;
  max-height: 100%;
  cursor: col-resize;
}

.vertical-line:hover {
  border-left: 6px solid var(--primary-70);
}

.with-transition {
  transition: width 0.5s;
}