.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--gap-xs);
}

.input {
  box-sizing: border-box;
  height: var(--gap-md);
  width: 100%;
  padding: var(--gap-xs) var(--gap-sm);
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: var(--primary-10);
  font-family: "Roboto", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color); 
}

.input:hover,
.input:focus {
  outline: 1px solid var(--primary-70);
  box-shadow: 0px 0px 2px 1px var(--text-color);
}