.markdown {
  color: var(--gray-400);
  font-size: 12px;
}

.markdown h1 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.8em;
  color: var(--text-color)
}

.markdown h2 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  color: var(--text-color)
}

.markdown h3 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  color: var(--text-color)
}

.markdown h4 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 1.0em;
  color: var(--text-color)
}

.markdown h5 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 0.8em;
  color: var(--text-color)
}

.markdown h6 {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 0.6em;
  color: var(--text-color)
}

.markdown p {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.0em;
  color: var(--text-color)
}

.markdown strong {
  font-weight: bolder;
  color: var(--gray-300)
}

.markdown em {
  font-style: italic;
}

.markdown a {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 1.0em;
  color: var(--primary-70)
}

.markdown blockquote {
  font-family: var(--tertiary-font);
  font-style: normal;
}

.markdown ol {}

.markdown ul {}

.markdown li {
  font-family: var(--tertiary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.0em;
  color: var(--text-color)
}

.markdown pre {}

.markdown code {
  font-family: var(--quaternary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 1.0em;
}

.markdown table {

}

.markdown thead {

}

.markdown tbody {

}

.markdown tr {

}

.markdown th {

}

.markdown td {

}

.markdown del {}

.markdown input[type="checkbox"] {

}
